useDynLib(catlearn, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
importFrom("graphics", "axis", "box", "legend", "lines", "plot")
importFrom("stats", "aggregate", "runif", "optim")
importFrom("utils", "combn", "data")
importFrom("parallel", "detectCores", "makeCluster", "stopCluster")
importFrom("doParallel", "registerDoParallel")
importFrom("foreach", "foreach", "%dopar%")

